<div *ngIf="loading">
  <div class="socket">
    <div class="gel center-gel">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c1 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c2 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c3 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c4 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c5 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c6 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c7 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c8 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c9 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c10 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c11 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c12 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c13 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c14 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c15 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c16 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c17 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c18 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c19 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c20 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c21 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c22 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c23 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c24 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c25 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c26 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c28 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c29 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c30 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c31 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c32 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c33 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c34 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c35 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c36 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c37 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container">
  <!-- Approved Loans -->
<div class="dashboard-header">
  <h1 class="dashboard-title">Tổng Quan Khoản Vay</h1>
</div>
<p-panel  styleClass="approved-panel">
  <ng-template pTemplate="header">
    <i class="pi pi-check-circle" style="color: green;">
      <span style="margin-left: 10px;"></span>
    </i>
    <span style="margin-left: 10px;"><Strong>Khoản vay đã phê duyệt</Strong></span>
  </ng-template>

  <p-table [value]="approvedLoans" [paginator]="false" [rows]="5" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Số tài khoản</th>
        <th>Số tiền vay</th>
        <th>Lãi suất</th>
        <th>Kỳ hạn (tháng)</th>
        <th> Thu nhập</th>
        <th>Trạng thái</th>
        <th>Ngày tạo</th>
        <th>Ngày duyệt</th>
        <th>Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-loan>
      <tr>
        <td>{{ loan.loanId }}</td>
        <td>{{ loan.repaymentAccountNumber }}</td>
        <td>{{ loan.amount | number:'1.0-0' }} VND</td>
        <td>{{ loan.interestRate }}%</td>
        <td>{{ loan.termMonths }}</td>
        <td>{{ loan.declaredIncome | number:'1.0-0' }} VND</td>
        <td><span class="status-badge approved">{{ loan.status }}</span></td>
        <td>{{ loan.createdAt | date:'dd/MM/yyyy' }}</td>
        <td>{{ loan.approvedAt || '—' }}</td>
        <td><p-button (click)="goToLoanDetail(loan.loanId)" icon="pi pi-file-import"></p-button></td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<p-panel  styleClass="pending-panel" [style]="{'margin': '1rem 0'}">
  <ng-template pTemplate="header">
    <i class="pi pi-clock" style="color: orange;">
    </i>
    <span style="margin-left: 10px;"><Strong>Đang chờ xử lý</Strong></span>
  </ng-template>

  <p-table [value]="pendingLoans" [paginator]="false" [rows]="5" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Số tài khoản</th>
        <th>Số tiền vay</th>
        <th>Lãi suất</th>
        <th>Kỳ hạn (tháng)</th>
        <th> Thu nhập</th>
        <th>Trạng thái</th>
        <th>Ngày tạo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-loan>
      <tr>
        <td>{{ loan.loanId }}</td>
        <td>{{ loan.repaymentAccountNumber }}</td>
        <td>{{ loan.amount | number:'1.0-0' }} VND</td>
        <td>{{ loan.interestRate }}%</td>
        <td>{{ loan.termMonths }}</td>
        <td>{{ loan.declaredIncome | number:'1.0-0' }} VND</td>
        <td><span class="status-badge pending">PENDING</span></td>
        <td>{{ loan.createdAt | date:'dd/MM/yyyy' }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<p-panel  styleClass="rejected-panel">
  <ng-template pTemplate="header">
    <i class="pi pi-times-circle" style="color: red;">
      <span style="margin-left: 10px;"></span>
    </i>
    <span style="margin-left: 10px;"><Strong>Bị từ chối - thu hồi</Strong></span>
  </ng-template>

  <p-table [value]="rejectedLoans" [paginator]="false" [rows]="5" responsiveLayout="scroll" dataKey="loanId">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Số tài khoản</th>
        <th>Số tiền vay</th>
        <th>Lãi suất</th>
        <th>Kỳ hạn (tháng)</th>
        <th> Thu nhập</th>
        <th>Trạng thái</th>
        <th>Ngày tạo</th>
        <th>Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-loan>
      <tr>
        <!-- <td>{{ loan.loanId }}</td> -->
         <td>
          <button
                  type="button"
                  pButton
                  pRipple
                  [pRowToggler]="loan"
                  class="p-button-text p-button-rounded p-button-plain"
                >{{ loan.loanId }}</button>
         </td>
        <td>{{ loan.repaymentAccountNumber }}</td>
        <td>{{ loan.amount | number:'1.0-0' }} VND</td>
        <td>{{ loan.interestRate }}%</td>
        <td>{{ loan.termMonths }}</td>
        <td>{{ loan.declaredIncome | number:'1.0-0' }} VND</td>
        <td><span class="status-badge rejected">{{ loan.status }}</span></td>
        <td>{{ loan.createdAt | date:'dd/MM/yyyy' }}</td>
        <td><p-button (click)="goToRejectedLoan(loan.loanId)"  *ngIf="loan.status != 'CANCELLED'"  icon="pi pi-file-edit"></p-button></td>
      </tr>
    </ng-template>
    
  </p-table>
</p-panel>

</div>